nav {

    /* background-color: rgb(235, 213, 213);  */
    background-color: #E1BD4C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    height: 10vh;
    padding-left: 60px;
    color: black;

}

.nav-list a {
    color: #000;
}

.nav-items {
    display: flex;
    gap: 25px;
    font-weight: bold;
    font-size: 15px;

}


header {
    background-image: url(../images/burger\ \(8\).jpg);
    height: 90vh; 
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-bottom: 50px; */
    margin-bottom: 30px;
    width: 100%;
}

.section-button1 {
    background-color: #f10a57;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.section-button1:hover {
    background-color: #744106;
    color: white;
}


.section-button1 a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}


.section-button2 {
    background-color: #f10a57;
    border: none;
    color: white;
    /* padding: 20px; */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.section-button3 {
    background-color: #f10a57;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.section-button3:hover {
    background-color: #744106;
    color: white;
}


.section-button3 a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}


.arrow right {
    border: solid rgb(247, 235, 235);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

}

.section-button2:hover {
    background-color: #744106;
    color: white;
}


.section-button2 a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}


.section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.content-section {
    color: white;
    text-align: left;
    line-height: 1.5rem;
    padding-top: 4rem;
    padding-left: 7rem;
    align-items: left;

}

.content-section p {
    text-align: justify;
    margin-bottom: 35px;
}

.content-section h4 {
    background-color: #E1BD4C;
    display: inline-block;
    margin-bottom: 35px;
    padding: 5px;
}

.content-section h1 {

    margin-bottom: 35px;
}


.food-section {
    background-color: #e4d9d9;
    padding: 70px;
    margin: 70px;
}

.header-text {
    font-weight: bold;
    color: #3d3b3b;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6;
}


.main-section {
    /* padding-top: -50px; */
    padding-top: 15px;
    padding-bottom: 3px;
    /* background-color: rgb(249, 252, 255); */
}

.main-container {
    padding: 15%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 10px;
}


.main-container h1 {
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-top: 20px;
}

.flex-container {
    display: flex;
    gap: 20px;
    text-align: justify;
    margin-bottom: 3rem;


}

.flex-container h2 {
    margin-bottom: 0.5rem;
}

.text-container {
    margin-top: 5%;
    width: 50%;
    padding: 1%;
}

.text-container p {
    line-height: 1.2;
    color: rgb(84, 82, 82);
    margin-bottom: 1.2rem;
}

.image-container {
    width: 50%;
}

.image-container img {
    width: 100%;
}

.image-section {
    width: 100%;
}

.food-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/burger\ \(1\).jpg);
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15%;
    border-radius: 20px;
    border: 0px solid;
    box-shadow: 3px 10px gainsboro;

}


.food-section a {
    background-color: #f10a57;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 20px;
}


.food-section a:hover {
    background-color: #744106;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.menu-food h1 {
    text-align: center;
}

#section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E1BD4C;
    padding: 20px;
    margin-left: 550px;
    margin-right: 550px;
    color: black;
    display: block;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    padding-top: 5%;
    padding-bottom: 4%;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: center;
    width: auto;
}

.slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 14);
}


.slider .slide {
    height: 100px;
    width: 250px;
}





.reservation {
    background-image: url(../images/burger\ \(7\).jpg);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    margin: 5%;
}


.reservation img {

    background-position: center;
    background-repeat: none;
    background-size: contain;
    background-attachment: fixed;
    opacity: 8;
    /* width: 90%; */

}


.reservation-text {
    font-weight: bold;
    color: white;
    padding: 1rem;
    line-height: 1.2;
}


.reservation-text h3 {
    text-transform: uppercase;
    padding-bottom: 2rem;
    text-align: center;
    line-height: 1.7;

}

.reservation-text p {
    text-align: justify;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 5%;
    margin: 5%;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 2rem;
    background-color: #000;
    /* background-color: #E1BD4C; */
    width: 80%;
    height: 60vh;
}

.inputs-item {
    padding: 2rem;
    margin: 2rem;
    /* background-color: #000; */
}

.inputs input {
    padding: 10px;
    margin: 10px;
}


.awards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;
}

.grid-parts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;



}

.grid-parts img {
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 3%;
    width: 5%;
}

.part {
    height: 300px;
    min-width: 280px;
    /* padding: 3%; */
    margin-top: 2%;
    margin-bottom: 2%;

}

.one {
    background-image: url(../images/dish-2\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2%;
    /* background-color: #000; */
    background-color: white;
}

.two {
    background-image: url(../images/dish-1\ \(1\).png);
    background-position: center;
    background-repeat: none;
    background-size: contain;
    width: 2%;
    background-color: white;
}

.three {
    /* background-color: #f10a57;  */
    background-image: url(../images/dish-3\ \(1\).png);
    background-position: center;
    background-repeat: none;
    background-size: contain;
    width: 2%;
    background-color: white;
}


.footer-down{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    line-height: 1.7;
    text-align: center;
    padding-bottom: 3rem;
}

.contact h3{
    padding-bottom: 2px;

}
.contact img{
    width: 15px;
}

.socials h3{
    padding-bottom: 20px;
}

.social-icons{
    padding-left: 2rem;
}

.socials img{
    background-color: white;
    width: 20px;

}